:root {
    --magenta: #92374D;
    --plum:#8c5383;
    --dusk-blue: #4A5899;
    --moonstone: #559CAD;
    --isabelline: #EEE9E8;

    --cornell-red: #bf211e;
    --black: #040404;
    --pale-dogwood: #fff0ec;
}

* {
    margin: 0;
    box-sizing: border-box;
}

#signUpForm input, #signUpForm select {
    width: 100%;
    margin: 10px;
}

#signUpForm label {
    margin: 10px;
}

#signUpForm input[type="submit"] {
    color: white;
    background-color: var(--dusk-blue);
    border-radius: 5px;
}

.cropped-image {
    width: 500px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 5%;
}

#img1 {
    object-position: center 30%;
}

#img2 {
    object-position: center 0%;
}

#img3 {
    object-position: center 50%;
}

span p{
    color: #BF211e;
}

span {
    color: #BF211e;
}

@media screen and (min-width: 400px) {
    .cropped-image {
        width: 350px;
        height: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .form-margin {
        height: 5%;
    }

    #signUpForm input,
    #signUpForm select {
        margin: 5px;
    }

    #signUpForm label {
        margin: 5px;
    }
}

@media screen and (min-width: 576px) {
    .cropped-image {
        width: 300px;
        height: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .form-margin {
        height: 5%;
    }

    #signUpForm input, #signUpForm select {
        margin: 5px;
    }
    
    #signUpForm label {
        margin: 5px;
    }
}


@media screen and (min-width: 768px) {
    .cropped-image {
        width: 300px;
        height: 120px;
    }
}


@media screen and (min-width: 992px) {
    .cropped-image {
        width: 400px;
        height: 160px;
    }

    .form-margin {
        height: 15%;
    }
}

@media screen and (min-width: 1200px) {
    .cropped-image {
        width: 500px;
        height: 200px;
    }
}